@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400i,500i,600i,700i,800');


body{
	margin: 0;

}
header {
	background: black;
	color:white;
	padding: 8px 0px 6px 40px;
	height: 60px;
	margin-right: 12px;
}
header h1{
	display :inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 40px;
	float :left;
	margin-top: 0px; 
	margin-right:  10px ;
}
nav ul{
	display: :inline;
	padding: 0px;
	float: left;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
color: white;
float: left;
margin-left:  25px ;
}
nav ul li a{
	color: white;
	text-decoration: none;
}
#nav{
	font-family: 'Montserrat', sans-serif;
}
.homered{
	background-color: red;
	padding: 22px 10px 28px 10px;
}
.divider{
	background-color: red;
	height: 10px;
}
.homeblack:hover{
	background-color: blue;
	padding: 22px 10px 28px 10px;
}
.image1{
	
	background-image:url("b4.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 470px ;
	width: 1350px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	}
	.a1{
font-family: 'Raleway', sans-serif;
margin-left: 300px;
margin-right: 300px;
color: white; 

background-color: brown;
text-align: center;


	}
	.a2{
		background-color: rgb(220, 150, 107);
		margin: 10px 700px 50px 20px;
		line-height: 40px;
		padding-left: 8px;
	}
	.a3{
		background-color: rgb(222, 184, 135);
		margin-top: 0px;
		margin-left: 950px;
		margin-right: 10px;
		margin-bottom: 300px; 
		padding: 10px ;
	}
	.a4{
		margin-left: 100px;
		color: white;
		background-color: brown;
		padding: 6px;
	}
	.pro{
		margin: 0px;
		text-align: center;
		background-color: brown;
		color: white; 
		font-family: 'Raleway', sans-serif;

	}
	
	.ima1{
		margin-left: 60px;
		float: left;
		background-color: rgb(220, 150, 107);
		padding: 0px;
	}
